@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.my-masonry-grid {
  display: flex;
  width: auto;
  gap: 24px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  gap: 24px;
}
