.card {
  &__first {
    background: #fff;
    border-radius: 24px;
  }

  &__second {
    background: #fff;
    border-radius: 16px;
  }

  &__third {
    background: #f6f7f9;
    border-radius: 24px;
  }
}
